body {
    margin: 0;
    font-family: 'Arial', sans-serif;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px 20px;
    border: 1px solid #ddd;
}

.logo {
    /* justify-content: center; */
    /* Takes up available space */
}

.logo>img {
    width: 320px;
    height: 66px;
}

nav {
    /* gap: 20px; */
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    padding: 16px 8px 6px 8px;
}

nav li>a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    text-transform: uppercase;

}

#heroSection {
    background-color: #495E57;
    padding: 20px;
    display: flex;
    flex-direction: row;
    min-height: 300px;
}

#heroSection>div {
    flex: 1;
    padding: 20px;
}

#heroSection>div:first-child {
    justify-content: center;
    /* display: flex;
    flex-direction: column;
    padding: 75px 0px; */
}


#heroSection h1 {
    color: #F4C314;
    font-size: 48px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0.5rem;
}

#heroSection h2 {
    color: #EDEFEE;
    font-size: 20px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 0px;
    margin-bottom: 0.5rem;
}

#heroSection p {
    color: #EDEFEE;
    font-size: 20px;
    font-weight: normal;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    width: 250px;
    text-align: justify;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.btn {
    padding: 12px 12px;
    border: none;
    border-radius: 8px;
    width: 25%;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    font-weight: bold;
    font-size: 16px;
}

.btn:hover {
    cursor: pointer;
}

.btn-primary {
    background-color: #F4C314;
}

.btn-primary:hover {
    background-color: #EDEFEE;
    color: #495E57;
    cursor: pointer;
}

#heroSection img {
    width: 300px;
    height: 350px;
    position: absolute;
    border-radius: 16px;
}

#highlightsSection {
    padding-top: 6rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#highlightsSection>div {
    width: 50%;
}

#highlightsSection h2 {
    color: #000;
    font-size: 36;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 0px;
    margin-bottom: 0.5rem;
}

.highlightsHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.highlightsContent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.highlightsContent>div {
    flex: 1;
    padding: 4px;
}

.highlightsContent img {
    width: 100%;
    height: 100%;
    overflow: inherit;
    overflow-clip-margin: unset;
    min-height: 200px;
}

.highlightsBottomContainer {
    background-color: #D9D9D9;
    padding: 8px;
}

.highlightsBottomContainer>div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.highlightsBottomContainer>div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.highlightsBottomContainer>div>p:nth-child(1) {
    font-size: 18px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.highlightsBottomContainer>div>p:nth-child(2) {
    font-size: 18px;
    font-weight: normal;
    color: #FE6D04;
}

.highlightsBottomContainer>p {
    text-align: justify;
}

.highlightsBottomContainer>a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

#bookingSection {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px 20px;
    border: 1px solid #ddd;
}

#bookingSection form {
    display: grid;
    width: 100%;
    gap: 20px;
    border: solid 2px #d0d0d0;
    padding: 16px;
}

#bookingSection form fieldset {
    border: none;
    width: 25%;
}

#bookingSection form fieldset>label {
    font-weight: bold;
}

#bookingSection form fieldset>input,
#bookingSection form fieldset>select {
    background-color: #D9D9D9;
    border: none;
    padding: 10px;
    border-radius: 6px;
    display: block;
    color: #495E57;
    font-weight: bold;
    width: 100%;
    box-sizing: border-box;
}

.btnHolder {
    display: block;
    margin-inline-start: 2px;
    margin-inline-end: 2px;
    padding-block-start: 0.35em;
    padding-inline-start: 0.75em;
    padding-inline-end: 0.75em;
    padding-block-end: 0.625em;
    width: 25%;
}

.btn-secondary {
    background-color: #495E57;
    color: #D9D9D9;
}

.w-100 {
    width: 100%;
}

#footerSection {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px 20px;
}

#footerSection>div {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    padding: 8px;
}

#footerSection>div:first-child {
    flex: 2;
    text-align: justify;
    padding: 16px;
}

#footerSection>div>* {
    /* align-self: stretch; */
    width: auto;
}

#footerSection>div a {
    /* align-self: stretch; */
    color: #000;
    TEXT-DECORATION: none;
    font-size: 14px;
}